<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
            <h4 class="text-primary">Our Blog</h4>
            <h1 class="display-5 mb-4">Latest Articles & News</h1>
            <p class="mb-0">Stay updated with the latest trends, tips, and best practices in freelance invoicing and business management.</p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="src/assets/img/blog-1.png" class="img-fluid w-100" alt="">
                        <div class="blog-info">
                            <span><i class="fa fa-clock"></i> Dec 01, 2024</span>
                            <div class="d-flex">
                                <span class="me-3">3 <i class="fa fa-heart"></i></span>
                                <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content text-dark border p-4">
                        <h5 class="mb-4">10 Tips for Effective Invoice Management</h5>
                        <p class="mb-4">Learn how to streamline your invoicing process and get paid faster with these proven tips.</p>
                        <a routerLink="/blog" class="btn btn-light rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="src/assets/img/blog-2.png" class="img-fluid w-100" alt="">
                        <div class="blog-info">
                            <span><i class="fa fa-clock"></i> Dec 01, 2024</span>
                            <div class="d-flex">
                                <span class="me-3">3 <i class="fa fa-heart"></i></span>
                                <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content text-dark border p-4">
                        <h5 class="mb-4">How to Handle Late Payments</h5>
                        <p class="mb-4">Discover effective strategies for dealing with late payments and maintaining healthy client relationships.</p>
                        <a routerLink="/blog" class="btn btn-light rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="src/assets/img/blog-3.png" class="img-fluid w-100" alt="">
                        <div class="blog-info">
                            <span><i class="fa fa-clock"></i> Dec 01, 2024</span>
                            <div class="d-flex">
                                <span class="me-3">3 <i class="fa fa-heart"></i></span>
                                <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content text-dark border p-4">
                        <h5 class="mb-4">Tax Tips for Freelancers</h5>
                        <p class="mb-4">Essential tax advice and best practices for freelancers to stay compliant and maximize deductions.</p>
                        <a routerLink="/blog" class="btn btn-light rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="src/assets/img/blog-4.png" class="img-fluid w-100" alt="">
                        <div class="blog-info">
                            <span><i class="fa fa-clock"></i> Dec 01, 2024</span>
                            <div class="d-flex">
                                <span class="me-3">3 <i class="fa fa-heart"></i></span>
                                <a href="#" class="text-white">0 <i class="fa fa-comment"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content text-dark border p-4">
                        <h5 class="mb-4">Growing Your Freelance Business</h5>
                        <p class="mb-4">Learn how to scale your freelance business and take it to the next level.</p>
                        <a routerLink="/blog" class="btn btn-light rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
